<div class="event-item">
	<div class="event-item__img-wrap">
		<a href="">
			<img src="../../images/temp/@event-item-324x228.jpg" alt="다나한 전용 상품권 증정" class="event-item__img">
		</a>
	</div>
	<div class="event-item__txt-wrap">
		<div class="event-item__tit"><a href="" class="event-item__link">다나한 전용 상품권 증정</a></div>
		<div class="event-item__summary">다나한 전용 상품권 증정</div>
		<div class="event-item__etc">2016.10.07 ~ 2016.11.07</div>
	</div>
</div>
<!-- //event-item -->
