안녕하세요, 동화인터넷면세점입니다.<br>
<br>
출국하루 전날까지는 쇼핑이 가능한데, 출국당일에 쇼핑을 할경우 -인천,김포 공항 출국시 14:30이전 출국 / 판매 마감 10:50까지 16:30이전 출국/ 판매 마감 12:50까지 19:30이전 출국/ 판매 마감 15:50까지이며, 미주,유럽 경유시 게이트 인도일경우 액체류 당일구매는 제한이 있으니, 고객센터 (02) 399-3000) 별도문의 부탁드립니다. 그외 출국공항은 당일 쇼핑은 되지 않습니다. <br>
그외 출국공항은 당일 쇼핑은 되지 않습니다.<br>
<br>
감사합니다.