<div class="footer">
	
	<div class="footer__grid">
		<div class="footer-menu">
			<h2 class="footer-menu__tit">Footer Links</h2>
			<ul class="footer-menu__list">
				<li class="footer-menu__item"><a href="" class="footer-menu__link">회사소개</a></li>
				<li class="footer-menu__item"><a href="" class="footer-menu__link">1:1문의</a></li>
				<li class="footer-menu__item"><a href="" class="footer-menu__link">개인정보취급방침</a></li>
				<li class="footer-menu__item"><a href="" class="footer-menu__link">이메일 무단수집 거부</a></li>
				<li class="footer-menu__item"><a href="" class="footer-menu__link">Sitemap</a></li>
			</ul>
		</div>
		<!-- //footer-menu -->
	</div>
	
	<div class="footer__grid2">
		<div class="footer-family" data-drop-down="true">
			<h2 class="footer-family__tit js-state">패밀리사이트</h2>
			<ul class="footer-family__list js-list">
				<li class="footer-family__item is-on"><a href="http://www.dfsdongwha.com/customer_center/m_write.asp" target="_blank" class="footer-family__link js-item">동화인터넷면세점</a></li>
				<li class="footer-family__item"><a href="http://www.dfsdongwha.com/customer_center/m_write.asp" target="_blank" class="footer-family__link js-item">동화인터넷면세점</a></li>
				<li class="footer-family__item"><a href="http://www.dfsdongwha.com/customer_center/m_write.asp" target="_blank" class="footer-family__link js-item">동화인터넷면세점</a></li>
			</ul>
		</div>
		<!-- //footer-family -->
	</div>
	
	<div class="footer__grid3">
		<div class="footer-info">
			<h2 class="footer-info__tit">홈페이지 연락처</h2>
			<p class="footer-info__address">
				<span class="footer-info__item">(주) 동화면세점</span>
				<span class="footer-info__item">대표이사 : 신정희</span>
				<br>
				<span class="footer-info__item">서울시 종로구 세종대로 149</span>
				<span class="footer-info__item">사업자등록번호 : 102-81-06181</span>
				<span class="footer-info__item">통신판매신고번호 : 2004-01816</span>
				<br>
				<span class="footer-info__item">고객센터 : 1688-6680</span>
				<span class="footer-info__item">이메일 : webmaster@ondutyfree.com</span>
			</p>
			<p class="footer-info__copyright">Copyright (c) 2015 DongHwa Dutyfree, All Rights Reserved.</p>
		</div>
		<!-- //footer-info -->
	</div>
	
</div>
<!-- //footer -->