<div class="skip-navigation">
	<a href="#contents" class="skip-navigation__link">본문바로가기</a>
</div>
<!-- //skip-navigation -->
<div class="header">
	<h1 class="header-logo">
		<a href=""><img src="../../images/common/header-logo.png" alt="Dongwha - Dutyfree" class="header-logo__img"></a>
	</h1>
	<!-- //header-logo -->
	
	<div class="header__wing header__wing--left">
		<div class="header-search">
			<input type="text" name="" id="" class="header-search__input">
			<input type="submit" value="검색" class="header-search__submit">
		</div>
		<!-- //header-search -->
	</div>
	
	<div class="header__wing header__wing--right">
		<div class="header-language" data-drop-down="true" class="is-on">
			<span class="header-language__state js-state">Language</span>
			<ul class="header-language__list js-list">
				<li class="header-language__item is-on"><a href="#" class="header-language__link js-item">Korean</a></li>
				<li class="header-language__item"><a href="#" class="header-language__link js-item">Chinese</a></li>
				<li class="header-language__item"><a href="#" class="header-language__link js-item">Japanese</a></li>
				<li class="header-language__item"><a href="#" class="header-language__link js-item">English</a></li>
			</ul>
		</div>
		<!-- //header-language -->
	</div>
	<div class="header__bar js-header-fixed">
		<div class="dw-gnb" id="gnbEvent">
			<h2 class="dw-gnb__tit">GNB</h2>
			<ul class="dw-gnb__list">
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">About Dongwha</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">Greetings</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">Company Overview</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">Shop History</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">Introduction Of Dutyfree 24</a></li>
					</ul>
				</li>
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">Brand</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">Overseas Brands</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">Domestic Brands</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">Floor Guide</a></li>
					</ul>
				</li>
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">Event</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">Event</a></li>
					</ul>
				</li>
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">Shopping Guide</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">Company Location</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">How To Use</a></li>
					</ul>
				</li>
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">Customer Center</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">News & Notification</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">FAQ</a></li>
					</ul>
				</li>
			</ul>
			<div class="dw-gnb__bg"></div>
		</div>
		<!-- //dw-gnb -->
		
	</div>
	<div class="header__wing header__wing--right2 js-header-fixed">
		<a class="header-quick-link" href="#">Shopping Mall</a>
	</div>
</div>
<!-- //header -->