<div class="skip-navigation">
	<a href="#contents" class="skip-navigation__link">본문바로가기</a>
</div>
<!-- //skip-navigation -->
<div class="header">
	<h1 class="header-logo">
		<a href=""><img src="../../images/common/header-logo.png" alt="Dongwha - Dutyfree" class="header-logo__img"></a>
	</h1>
	<!-- //header-logo -->
	
	<div class="header__wing header__wing--left">
		<div class="header-search">
			<input type="text" name="" id="" class="header-search__input">
			<input type="submit" value="검색" class="header-search__submit">
		</div>
		<!-- //header-search -->
	</div>
	
	<div class="header__wing header__wing--right">
		<div class="header-language" data-drop-down="true" class="is-on">
			<span class="header-language__state js-state">Language</span>
			<ul class="header-language__list js-list">
				<li class="header-language__item is-on"><a href="#" class="header-language__link js-item">Korean</a></li>
				<li class="header-language__item"><a href="#" class="header-language__link js-item">Chinese</a></li>
				<li class="header-language__item"><a href="#" class="header-language__link js-item">Japanese</a></li>
				<li class="header-language__item"><a href="#" class="header-language__link js-item">English</a></li>
			</ul>
		</div>
		<!-- //header-language -->
	</div>
	<div class="header__bar js-header-fixed">
		<div class="dw-gnb" id="gnbEvent">
			<h2 class="dw-gnb__tit">GNB</h2>
			<ul class="dw-gnb__list">
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">동화면세점 소개</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">인사말씀</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">회사개요</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">면세점연혁</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">인터넷면세점소개</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">법규준수 및<br>안전관리 경영방침</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">윤리경영방침</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">내부고발제도</a></li>
					</ul>
				</li>
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">입점브랜드</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">해외브랜드</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">국내브랜드</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">플로어가이드</a></li>
					</ul>
				</li>
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">이벤트</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">이벤트</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">신규입점</a></li>
					</ul>
				</li>
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">쇼핑가이드</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">회사위치</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">이용안내</a></li>
					</ul>
				</li>
				<li class="dw-gnb__item">
					<a href="" class="dw-gnb__link">고객센터</a>
					<ul class="dw-gnb__list2">
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">뉴스와 공지</a></li>
						<li class="dw-gnb__item2"><a href="" class="dw-gnb__link2">FAQ</a></li>
					</ul>
				</li>
			</ul>
			<div class="dw-gnb__bg"></div>
		</div>
		<!-- //dw-gnb -->
		
	</div>
	<div class="header__wing header__wing--right2 js-header-fixed">
		<a class="header-quick-link" href="#">인터넷면세점 바로가기</a>
	</div>
</div>
<!-- //header -->