안녕하세요. 동화 인터넷 면세점입니다.<br>
2016년 03월 27일 0시부터 인천공항 여객터미널 → 탑승동 간 셔틀트레인의 공사로(매일0시~05시) 인하여 기존 탑승동에서 인도되었던 새벽(0시~05시) 출국 항공기편이 다음과 같이 분산되어 인도예정이오니 업무에 참고하여 주시기 바랍니다.<br>
<br>
▶자세한 사항 확인하기<br>
<a href="https://www.dutyfree24.com/et/noticedetail.aspx?Seq=573&NoticeGBCD=01" target="_blank">https://www.dutyfree24.com/et/noticedetail.aspx?Seq=573&NoticeGBCD=01</a><br>
<br>
출국일자 조정 대상 기편은 0시 전후로 출국일자 조정 후 보세운송 예정.<br>
Ex) 3월 27일 00:20 출국판매 → 3월 26일 23:10 으로 조정 (TK091)<br>
Ex) 3월 26일 23:55 출국판매 → 3월 27일 00:05 으로 조정 (EK323)<br>
Ex) 3월 26일 23:55 출국판매 → 3월 27일 00:05 으로 조정 (EK323)<br>
Ex) 3월 26일 23:55 출국판매 → 3월 27일 00:05 으로 조정 (EK323)<br>
<br>
감사합니다.