<h3 class="u-tit2">개인정보 취급(처리)방침</h3>
<div class="u-depth-1">
	<p class="u-para">
		‘㈜동화면세점’은(이하 '회사'는) 이용자의 개인정보를 중요시하며, 개인정보의 보호와 관련하여 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 및 「개인정보보호법」 등 관련법 상의 개인정보 보호 규정을 준수하고 있습니다.<br>
		회사는 개인정보 취급(처리)방침을 통하여 이용자들의 개인정보가 남용되거나 유출되지 않도록 최선을 다할 것이며,<br>
		이용자가 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있고, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드리고자 합니다.<br>
		단, 본 개인정보 취급(처리)방침은 정부의 법령 및 지침의 변경, 또는 보다 나은 서비스의 제공을 위하여 그 내용이 변경될 수 있으니, 이용자들께서는 사이트 방문 시 수시로 그 내용을 확인하여 주시기 바라며, 회사는 개인정보 취급(처리)방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
	</p>
</div>
<!-- //u-depth-1 -->
<h3 class="u-tit2 u-tit2--next">1. 개인정보 수집에 대한 동의, 항목 및 방법</h3>
<div class="u-depth-1">
	<p class="u-para">
		회사는 회원가입, 상담, 서비스 신청 및 제공 등을 위해 다음과 같은 개인정보를 수집하고 있습니다.
	</p>
</div>
<!-- //u-depth-1 -->

<h4 class="u-tit3 u-tit3--next">가. 개인정보 수집에 대한 동의</h4>
<div class="u-depth-1">
	<p class="u-para">
		회사는 회원이 회사의 개인정보보호방침 또는 이용약관의 내용에 대해 ‘동의함’ 또는 ‘동의 안함’을 선택할 수 있는 절차를 마련하여 ‘동의함’을 선택한 경우 개인정보수집에 대해 동의한 것으로 봅니다. 개인정보 수집항목, 개인정보 수집 및 이용목적, 개인정보보유 및 이용기간, 개인정보 제3자 제공, 계약이행을 위한 것이 아닌 다른 여타목적을 위한 개인정보 취급위탁의 경우에는 회사의 개인정보취급(처리)방침에 공개할 뿐 아니라, 별도의 “개인정보보호를 위한 이용자 동의서”상의 “동의함”을 선택한 경우, 동의한 것으로 봅니다.
	</p>
</div>
<!-- //u-depth-1 -->
<h4 class="u-tit3 u-tit3--next">나. 개인정보 수집 항목</h4>
<h5 class="u-tit4 u-tit4--next">필수항목</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">회원가입 : 아이디, 비밀번호, 성명(국문, 영문), 국적, 아이핀(I-PIN)번호, 생년월일, 성별, 여권번호, 여권만료일, 우편번호, 주소, 전화번호, 휴대폰번호, 이메일</li>
		<li class="u-list__item">상품구매 : 성명(영문), 국적, 이메일, 여권번호, 전화번호, 휴대폰번호, 출국일, 출발지, 도착지, 직항/경유 여부, 비행기편명, 신용카드정보, 은행계좌정보</li>
		<li class="u-list__item">기타 : 입출국정보, 구매정보, 포인트정보</li>
	</ul>
</div>
<!-- //u-depth-1 -->
<h5 class="u-tit4 u-tit4--next">선택항목</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">회원가입 : 동화 VIP 카드, SMS수신동의, 이벤트안내(DM) 등의 뉴스레터 수신동의</li>
	</ul>
</div>
<!-- //u-depth-1 -->
<div class="u-depth-1">
	<p class="u-para">다만, 서비스 이용과정에서 접속 IP 정보, 쿠키, 서비스 이용기록, 접속 로그, 결제기록 등이 생성되어 수집될 수 있습니다.</p>
</div>
<!-- //u-depth-1 -->

<h4 class="u-tit3 u-tit3--next">다. 개인정보 수집 방법</h4>
<div class="u-depth-1">
	<p class="u-para">
		홈페이지, 서면양식, 전화, 팩스를 통한 회원가입, 상담게시판, 이메일, 이벤트응모, 배송요청<br>
		협력회사로부터의 제공<br>
		생성정보 수집 툴을 통한 수집
	</p>
</div>
<!-- //u-depth-1 -->

<h3 class="u-tit2 u-tit2--next">2. 개인정보의 수집 및 이용목적</h3>
<div class="u-depth-1">
	<p class="u-para">
		회사는 수집된 개인정보를 다음의 목적을 위해 이용하고 있습니다.
	</p>
</div>
<!-- //u-depth-1 -->
<h4 class="u-tit3 u-tit3--next">가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</h4>
<div class="u-depth-1">
	<p class="u-para">
		컨텐츠 및 회원 맞춤형 서비스 제공, 서비스 구매 및 요금 결제, 금융거래 본인 인증 및 금융 서비스, 상품 주문에 따른 배송 서비스
	</p>
</div>
<!-- //u-depth-1 -->
<h4 class="u-tit3 u-tit3--next">나. 회원 관리</h4>
<div class="u-depth-1">
	<p class="u-para">
		회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 가입 및 가입회수 제한, 분쟁 조정을 위한 기록 보존, 불만처리 등 민원처리, 고지사항 전달
	</p>
</div>
<!-- //u-depth-1 -->
<h4 class="u-tit3 u-tit3--next">다. 신규서비스 개발 • 마케팅 및 광고에 활용</h4>
<div class="u-depth-1">
	<p class="u-para">
		신규 서비스(컨텐츠) 개발 및 특화, 이벤트 등 광고성 정보 전달, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악, 회원의 서비스 이용에 대한 통계
	</p>
</div>
<!-- //u-depth-1 -->
<h3 class="u-tit2 u-tit2--next">3. 개인정보의 보유 및 이용기간</h3>
<div class="u-depth-1">
	<p class="u-para">
		회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 개인정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 이용자 개인정보를 보관합니다.
	</p>
</div>
<!-- //u-depth-1 -->
<h4 class="u-tit3 u-tit3--next">가. 회사 내부 방침에 의한 정보보유 사유</h4>
<h5 class="u-tit4 u-tit4--next">부정 이용 기록</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">보존 이유 : 부정 이용 방지</li>
		<li class="u-list__item">보존 기간 : 1년</li>
	</ul>
</div>
<!-- //u-depth-1 -->
<h4 class="u-tit3 u-tit3--next">나. 상법 등 법령에 따라 보존할 필요성이 있는 경우</h4>
<h5 class="u-tit4 u-tit4--next">표시 • 광고에 관한 기록</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률 제6조 및 시행령 제6조</li>
		<li class="u-list__item">보존 기간 : 6개월</li>
	</ul>
</div>
<!-- //u-depth-1 --></li>
</ul>
</div>
<!-- //u-depth-1 -->
<h5 class="u-tit4 u-tit4--next">계약 또는 청약철회 등에 관한 기록</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률 제6조 및 시행령 제6조</li>
		<li class="u-list__item">보존 기간 : 5년</li>
	</ul>
</div>
<!-- //u-depth-1 -->
<h5 class="u-tit4 u-tit4--next">대금결제 및 재화 등의 공급에 관한 기록</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률 제6조 및 시행령 제6조</li>
		<li class="u-list__item">보존 기간 : 5년</li>
	</ul>
</div>
<!-- //u-depth-1 -->
<h5 class="u-tit4 u-tit4--next">소비자의 불만 또는 분쟁처리에 관한 기록</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률 제6조 및 시행령 제6조</li>
		<li class="u-list__item">보존 기간 : 3년</li>
	</ul>
</div>
<!-- //u-depth-1 -->
<h5 class="u-tit4 u-tit4--next">신용정보의 수집, 처리 및 이용 등에 관한 기록</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">보존 근거 : 신용정보의 이용 및 보호에 관한 법률</li>
		<li class="u-list__item">보존 기간 : 3년</li>
	</ul>
</div>
<!-- //u-depth-1 -->
<h5 class="u-tit4 u-tit4--next">본인확인에 관한 기록보존</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">보존 근거 : 정보통신망 이용촉진 및 정보보호에 관한 법률 제44조의 5 및 시행령 제29조</li>
		<li class="u-list__item">보존 기간 : 6개월</li>
	</ul>
</div>
<!-- //u-depth-1 -->
<h5 class="u-tit4 u-tit4--next">접속에 관한 기록보존</h5>
<div class="u-depth-1">
	<ul class="u-list">
		<li class="u-list__item">보존 근거 : 통신비밀보호법 제15조의2 및 시행령 제41조</li>
		<li class="u-list__item">보존 기간 : 3개월</li>
	</ul>
</div>
<!-- //u-depth-1 -->
<div class="u-depth-1">
	<p class="u-para">
		기타, 이용자의 개별적인 동의가 있는 경우에는 개별 동의에 따른 기간까지 보관합니다.
	</p>
</div>
<!-- //u-depth-1 -->
