<div class="text-field">
<p>o ㈜동화면세점’은(이하 '회사'는) 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 및 「개인정보보호법」 등 관련법 상의 개인정보 보호 규정에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다. 회사는 이용자들의 개인정보가 남용되거나 유출되지 않도록 최선을 다할 것이며, 이용자가 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있고, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드리고자 합니다. 단, 본 개인정보 처리방침은 정부의 법령 및 지침의 변경, 또는 보다 나은 서비스의 제공을 위하여 그 내용이 변경될 수 있으니, 이용자들께서는 사이트 방문 시 수시로 그 내용을 확인하여 주시기 바라며, 회사는 개인정보 처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.</p>
<p>본 방침은 2016년 09월 05일부터 시행됩니다.</p>
<hr>
<h2 id="rule1">1. 개인정보 수집에 대한 동의, 항목 및 방법</h2>
<p>회사는 회원가입, 상담, 서비스 신청 및 제공 등을 위해 다음과 같은 개인정보를 수집하고 있습니다.</p>
<h3>가. 개인정보 수집에 대한 동의</h3>
<p>회사는 회원이 회사의 개인정보보호방침 또는 이용약관의 내용에 대해 ‘동의함’ 또는 ‘동의 안함’을 선택할 수 있는 절차를 마련하여 ‘동의함’을 선택한 경우 개인정보수집에 대해 동의한 것으로 봅니다. 개인정보 수집항목, 개인정보 수집 및 이용목적, 개인정보보유 및 이용기간, 개인정보 제3자 제공, 계약이행을 위한 것이 아닌 다른 여타목적을 위한 개인정보 처리 위탁의 경우에는 회사의 개인정보 처리방침에 공개할 뿐 아니라, 별도의 “개인정보보호를 위한 이용자 동의서”상의 “동의함”을 선택한 경우, 동의한 것으로 봅니다.</p>
<h3>나. 개인정보 수집 항목</h3>
<table>
<colgroup>
	<col width="100">
	<col width="100">
	<col width="100">
	<col>
	<col width="180">
</colgroup>
<thead>
	<tr>
		<th colspan="3">구분</th>
		<th rowspan="2">수집항목</th>
		<th rowspan="2"	>수집목적</th>
	</tr>
	<tr>
		<th>단계</th>
		<th>회원/비회원</th>
		<th>필수/선택</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td rowspan="5">회원가입</td>
		<td>정회원</td>
		<td>필수</td>
		<td align="left">아이디, 비밀번호, 성명(국문, 영문), 국적, 아이핀(I-PIN)번호, 생년월일, 성별, 여권번호, 여권만료일, 우편번호, 주소, 전화번호, 휴대폰번호, 이메일</td>
		<td>회원가입 및 회원관리</td>
	</tr>
	<tr>
		<td>외국인회원</td>
		<td>필수</td>
		<td align="left">아이디, 비밀번호, 성명(국문, 영문), 국적, 생년월일, 성별, 여권번호</td>
		<td>회원가입 및 회원관리</td>
	</tr>
	<tr>
		<td>중문(모바일) 준회원</td>
		<td>필수</td>
		<td align="left">이메일, 비밀번호</td>
		<td>회원가입 및 회원관리</td>
	</tr>
	<tr>
		<td>중문(모바일) 정회원</td>
		<td>필수</td>
		<td align="left">이메일, 비밀번호, 생년월일, 여권번호, 여권만료일, 영문명, 국적, 성별, 휴대폰번호</td>
		<td>회원가입 및 회원관리</td>
	</tr>
	<tr>
		<td>공통(회원)</td>
		<td>선택</td>
		<td align="left">vip카드번호, 제휴사코드, 추천인ID,DM수신동의, SMS수신동의, E-mail수신동의</td>
		<td>적립 및 혜택, 상품정보 및 이벤트 안내</td>
	</tr>
	<tr>
		<td rowspan="4">상품구매</td>
		<td>회원</td>
		<td>필수</td>
		<td align="left">성명(영문), 국적, 이메일, 여권번호, 전화번호, 휴대폰번호, 출국일, 출발지, 도착지, 직항/경유 여부, 비행기편명, 신용카드정보, 은행계좌정보</td>
		<td>주문서작성 및 상품주문</td>
	</tr>	
	<tr>
		<td rowspan="2">비회원</td>
		<td>필수</td>
		<td align="left">비밀번호, 성명(국문, 영문), 국적, 생년월일, 성별, 여권번호</td>
		<td>비회원로그인</td>
	</tr>
	<tr>
		<td>필수</td>
		<td align="left">성명(영문), 국적, 이메일, 여권번호, 전화번호, 휴대폰번호, 출국일, 출발지, 도착지, 직항/경유 여부, 비행기편명, 신용카드정보, 은행계좌정보</td>
		<td>주문서작성 및 상품주문</td>
	</tr>
	<tr>
		<td>공통 (회원,비회원)</td>
		<td>선택</td>
		<td align="left">포인트정보</td>
		<td>포인트 조회, 및 사용</td>
	</tr>
	<tr>
		<td rowspan="3">1:1 (고객문의)</td>
		<td>회원</td>
		<td>필수</td>
		<td align="left">성명, 이메일, 질문유형, 제목, 내용</td>
		<td>문의사항처리 (이메일)</td>
	</tr>
	<tr>
		<td rowspan="2">비회원</td>
		<td>필수</td>
		<td align="left">성명, 이메일, 질문유형, 제목, 내용</td>
		<td>문의사항처리 (이메일)</td>
	</tr>
	<tr>
		<td>선택</td>
		<td align="left">전화번호, 핸드폰번호</td>
		<td>문의사항처리 (전화/휴대폰번호)</td>
	</tr>
</tbody>
</table>
<p>다만, 서비스 이용과정에서 접속 IP 정보, 쿠키, 서비스 이용기록, 접속 로그, 결제기록, 모바일 기기정보(OS정보, 모델명) 등이 생성되어 수집될 수 있습니다.</p>
<h3>다. 개인정보 수집방법</h3>
<div>
<p>
	- 홈페이지, 서면양식, 전화, 팩스를 통한 회원가입, 상담게시판, 이메일, 이벤트응모, 배송요청<br>
	- 협력회사로부터의 제공<br>
	- 생성정보 수집 툴을 통한 수집
</p>
</div>
<hr>
<h2 id="rule2">2. 개인정보의 수집 및 이용목적</h2>
<p>회사는 수집된 개인정보를 다음의 목적을 위해 이용하고 있습니다.</p>
<h3>가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</h3>
<div>
<p>- 컨텐츠 및 회원 맞춤형 서비스 제공, 서비스 구매 및 요금 결제, 금융거래 본인 인증 및 금융 서비스, 상품 주문에 따른 배송 서비스</p>
</div>
<h3>나. 회원 관리</h3>
<div>
<p>- 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 가입 및 가입회수 제한, 분쟁 조정을 위한 기록 보존, 불만처리 등 민원처리, 고지사항 전달</p>
</div>
<h3>다. 신규서비스 개발 • 마케팅 및 광고에 활용</h3>
<div>
<p>- 신규 서비스(컨텐츠) 개발 및 특화, 이벤트 등 광고성 정보 전달, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악, 회원의 서비스 이용에 대한 통계</p>
</div>
<hr>
<h2 id="rule3">3. 개인정보의 보유 및 이용기간</h2>
<p>
회사는 원칙적으로 개인정보 수집•이용 목적이 달성되거나, 이용계약해지(탈퇴/동의철회)시에는 해당 개인정보를 지체 없이 파기합니다.<br>
단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 이용자 개인정보를 보관합니다.
</p>
<h3>가. 회사 내부 방침에 의한 정보보유 사유</h3>
<div>
<p>
	- 부정이용기록<br>
	&nbsp;&nbsp;&nbsp;보존이유 : 부정 이용 방지<br>
	&nbsp;&nbsp;&nbsp;보존기간 : 1년<br>
</p>
</div>
<h3>나. 상법 등 법령에 따라 보존할 필요성이 있는 경우</h3>
<div>
<p>
	- 표시 • 광고에 관한 기록<br>
	&nbsp;&nbsp;&nbsp;보존근거 : 전자상거래 등에서의 소비자보호에 관한 법률 제6조 및 시행령 제6조<br>
	&nbsp;&nbsp;&nbsp;보존기간 : 6개월
</p>
<p>
	- 계약 또는 청약철회 등에 관한 기록<br>
	&nbsp;&nbsp;&nbsp;보존근거 : 전자상거래 등에서의 소비자보호에 관한 법률 제6조 및 시행령 제6조<br>
	&nbsp;&nbsp;&nbsp;보존기간 : 5년
</p>
<p>
	- 대금결제 및 재화 등의 공급에 관한 기록<br>
	&nbsp;&nbsp;&nbsp;보존근거 : 전자상거래 등에서의 소비자보호에 관한 법률 제6조 및 시행령 제6조<br>
	&nbsp;&nbsp;&nbsp;보존기간 : 5년
</p>
</div>
<p>기타, 이용자의 개별적인 동의가 있는 경우에는 개별 동의에 따른 기간까지 보관합니다.</p>
<hr>
<h2 id="rule4">4. 개인정보의 파기절차 및 방법</h2>
<h3>가. 파기절차</h3>
<p>
이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.-파기기한이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.
</p>
<h3>나. 파기방법</h3>
<p>
전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.<br>
종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다. 
</p>
<hr>
<h2 id="rule5">5. 개인정보의 제3자 제공 및 공유</h2>
<p>회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>
<div>
<p>
	- 이용자들이 사전에 동의한 경우<br>
	- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br>
	- 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우
</p>
</div>
<p>
이 외에 개인정보를 제공하거나 공유할 경우에는 사전에 고객께 제휴사가 누구인지, 제공 또는 공유되는 개인정보항목이 무엇인지, 왜 그러한 개인정보가 제공되거나 공유되어야 하는지, 그리고 언제까지 어떻게 보호ㆍ관리되는지에 대해 개별적으로 서면 또는 전자우편 등을 통해 고지하여 동의를 구하는 절차를 거치게 되며, 고객께서 동의하지 않는 경우에는 제휴사에게 제공하거나 제휴사와 공유하지 않습니다. 또한, 제휴관계에 변화가 있거나 제휴관계가 종결될 때도 같은 절차에 의하여 고지하거나 동의를 구합니다
</p>
<h2 id="rule6">6. 개인정보의 처리 위탁</h2>
<p>
회사는 보다 나은 서비스 제공과 이용자의 편의 제공 등 업무수행을 원활하게 하기 위해 이용자의 개인정보를 동의 받은 이용목적 내에서 다음과 같이 타 업체에 수집, 보관, 처리 등을 위탁하여 처리하고 있습니다. 이용자와의 서비스계약 이행을 위하여 회사가 개인정보 취급 위탁을 위탁하는 업체 이외에 제휴 마케팅을 통한 개인정보의 처리를 위탁하는 경우에는 해당 서비스 화면에 수탁자, 개인정보 취급 위탁을 하는 업무의 내용에 관한 사항을 홈페이지를 통해 미리 고지하고 동의를 획득하겠습니다.
</p>
<p> - 회사가 이용자의 개인정보를 위탁하는 현황은 다음과 같습니다.</p>
<table>
<colgoup>
	<col>
	<col width="200">
	<col width="200">
</colgoup>
<thead>
	<tr>
		<th>수탁업체</th>
		<th>위탁 업무내용</th>
		<th>위탁기간</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>한국 면세점 협회</td>
		<td>상품배송, 인도장관리</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>KICC, KSNET, FDSK</td>
		<td>카드결재</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>㈜스탭솔루션, ㈜휴먼리더, ㈜인터비즈시스템, ㈜키스템프, ㈜맨파워그룹코리아</td>
		<td>물류,주차,판매,사무</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>㈜듀티프리이십사</td>
		<td>온라인관련 업무 및 마케팅, 홍보</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>㈜MPC</td>
		<td>콜센터 업무(재위탁)</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>㈜처음소프트</td>
		<td>고객메일 서비스</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>㈜비즈앤플럭, ㈜로버무트, ㈜하이원시스템즈, ㈜에이스톰테크</td>
		<td>정보시스템 유지보수</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>㈜모바일이엠앤애드</td>
		<td>모바일 사은품 발송</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>㈜엠콤, ㈜SK 플래닛</td>
		<td>멤버십 서비스 제공</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>유알스페이스</td>
		<td>온라인 이벤트 서비스</td>
		<td>위탁종료시 까지</td>
	</tr>
	<tr>
		<td>㈜LG U+</td>
		<td>IDC 임대 및 문자서비스</td>
		<td>위탁종료시 까지</td>
	</tr>
</tbody>
</table>
<p>- 회사는 위탁계약 체결시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적•관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리•감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</p>
<hr>
<h2 id="rule7">7. 이용자 및 법정대리인의 권리와 행사방법</h2>
<h3>가. 이용자는 회사에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.</h3>
<div>
<p>(1) 개인정보 열람요구</p>
<p>(2) 오류 등이 있을 경우 정정 요구</p>
<p>(3) 삭제요구</p>
<p>(4) 처리정지 요구</p>
</div>
<h3>나. 전항에 따른 권리 행사는 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며, 회사는 이에 대해 지체 없이 조치하겠습니다.</h3>
<h3>다. 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 회사는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.</h3>
<h3>라. 이용자는 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며, 개인정보 조회, 수정을 위해서는 '회원정보변경'을, 가입 해지(동의철회)를 위해서는 "회원탈퇴"를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.</h3>
<hr>
<h2 id="rule8">8. 개인정보 자동수집 장치(쿠키 등)의 설치, 운영 및 거부에 관한 사항</h2>
<h3>가. 쿠키의 정의</h3>
<div>
	<p>(1) 회사는 개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다.</p>
	<p>(2) 쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에게 보내는 아주 작은 텍스트 파일로 이용자 컴퓨터의 하드디스크에 저장됩니다. 이후 이용자가 웹 사이트에 방문할 경우 웹 사이트 서버는 이용자의 하드 디스크에 저장되어 있는 쿠키의 내용을 읽어 이용자의 환경설정을 유지하고 맞춤화된 서비스를 제공하기 위해 이용됩니다.</p>
	<p>(3) 쿠키는 개인을 식별하는 정보를 자동적/능동적으로 수집하지 않으며, 이용자는 언제든지 이러한 쿠키의 저장을 거부하거나 삭제할 수 있습니다.</p>
</div>
<h3>나. 쿠키 사용 목적</h3>
<div>
<p>- 이용자들이 방문한 홈페이지의 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 뉴스편집, 이용자 규모 등을 파악하여 이용자에게 광고를 포함한 최적화된 맞춤형 정보를 제공하기 위해 사용합니다.</p>
</div>
<h3>다. 쿠키의 설치/운영 및 거부</h3>
<div>
	<p>(1) 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.</p>
	<p>(2) 다만, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스는 이용에 어려움이 있을 수 있습니다.</p>
	<p>(3) 쿠키 설정을 거부하는 방법으로는 고객님이 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.<br>- 설정방법 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 &gt; 인터넷 옵션 &gt; 개인정보</p>
</div>
<hr>
<h2 id="rule9">9. 개인정보의 기술적/관리적 보호대책</h2>
<p>회사는 이용자들의 개인정보를 보호하기 위하여 다음과 같이 안전성 확보에 필요한 기술적, 관리적 및 물리적 조치를 하고 있습니다.</p>
<h3>가. 정기적인 자체 감사 실시</h3>
<div>
<p>개인정보 취급 관련 안정성 확보를 위해 정기적으로 자체 감사를 실시하고 있습니다.</p>
</div>
<h3>나. 개인정보 취급 직원의 최소화 및 교육</h3>
<div>
<p>개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.</p>
</div>
<h3>다. 내부관리계획의 수립 및 시행</h3>
<div>
<p>개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</p>
</div>
<h3>라. 해킹 등에 대비한 기술적 대책</h3>
<div>
<p>회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신•점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.</p>
</div>
<h3>마. 개인정보의 암호화</h3>
<div>
<p>이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.</p>
</div>
<h3>바. 접속기록의 보관 및 위변조 방지</h3>
<div>
<p>개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능 사용하고 있습니다.</p>
</div>
<h3>사. 개인정보에 대한 접근 제한</h3>
<div>
<p>개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.</p>
</div>
<h3>아. 문서보안을 위한 잠금장치 사용</h3>
<div>
<p>개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.</p>
</div>
<h3>자. 비인가자에 대한 출입 통제</h3>
<div>
<p>개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.</p>
</div>

<hr>
<h2 id="rule10">10. 기타 이용자의 준수사항</h2>
<p>이용자는 자신의 개인정보를 보호할 의무가 있으며, 회사의 귀책사유 없이 이용자 본인의 부주의나 브라우져 취약점, 관계법령에 의한 보안조치로 차단할 수 없는 방법이나 기술을 사용한 해킹 등 회사가 상당한 주의에도 불구하고 통제할 수 없는 인터넷 상의 문제 등으로 개인정보가 유출되어 발생한 문제에 대해 회사는 일체의 책임을 지지 않습니다.</p>
<p>- 이용자는 자신의 개인정보를 최신의 상태로 유지해야 하며, 이용자의 부정확한 정보 입력으로 발생하는 문제의 책임은 이용자 자신에게 있습니다.</p>
<p>- 타인의 주민번호 등 개인정보를 도용하여 회원가입 또는 사이트 이용시 회원자격 상실과 함께 주민등록법에 의거하여 처벌될 수 있습니다.</p>
<p>- 이용자는 아이디, 비밀번호 등에 대해 보안을 유지할 책임이 있으며 제3자에게 이를 양도하거나 대여할 수 없습니다.</p>
<p>- 이용자는 「정보 통신망 이용촉진 및 정보보호 등에 관한 법률」,「개인정보보호법」, 「주민등록법」 등 기타 개인정보에 관한 법률을 준수하여야 합니다. </p>

<hr>
<h2 id="rule11">11. 개인정보 보호책임자 및 담당자 연락처</h2>
<p>회사는 이용자들의 개인정보를 보호하고 개인정보에 대한 의견수렴 및 불만처리를 담당하기 위하여 아래와 같이 관련부서 및 개인정보 보호책임자를 지정하고 있습니다. 이용자의 개인정보와 관련한 문의사항은 아래의 개인정보 보호책임자 또는 개인정보 보호담당자에게 연락하여 주시기 바랍니다.</p>
<div>
[개인정보 보호책임자]
<div>
	<p>- 성명 : 박성수 / 소속ㆍ직위 : 전산지원부 팀장 / 전화번호: 02)399-3068 / 이메일 : cpo@ondutyfree.com</p>
</div>
[개인정보 보호담당자]
<div>
	<p>- 성명 : 정상훈 / 소속ㆍ직위 : 전산지원부 차장 / 전화번호: 02)399-3067 / 이메일 : privacy@ondutyfree.com</p>
</div>
</div>
<p>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
<div>
<p>1. 개인분쟁조정위원회 (<a href="http://www.kopico.go.kr" target="_blank">http://www.kopico.go.kr</a>/ 02-2100-2499)</p>
<p>2. 개인정보침해신고센터 (<a href="http://privacy.kisa.or.kr" target="_blank">http://privacy.kisa.or.kr</a>/ 118)</p>
<p>3. 정보보호마크인증위원회 (<a href="http://www.eprivacy.or.kr" target="_blank">http://www.eprivacy.or.kr</a>/ 02-550-9531~2)</p>
<p>4. 대검찰청 사이버범죄수사단 (<a href="http://www.spo.go.kr" target="_blank">http://www.spo.go.kr</a>/ 02-3480-3571)</p>
<p>5. 경찰청 사이버안전국 (<a href="http://www.netan.go.kr" target="_blank">http://www.netan.go.kr</a>/ 1566-0112)</p>
</div>

<hr>
<h2 id="rule12">12. 개인정보 처리방침의 변경</h2>
<p>본 방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 홈페이지 '공지사항'을 통하여 고지할 것입니다.</p>
<div>
<p>- 개인정보처리방침 버전번호 : v1.8</p>
<p>- 시행일자 : 2016년 09 월 05 일</p>
<p><a href="footer_02개인정보취급방침20151019.html">▶ 이전 개인정보 처리방침 보기</a></p>
</div>


</div>
<!-- //text-field -->
