<div class="text-field">
	<p>동화면세점'은 (이하 '회사'는) "정보통신망이용촉진및정보보호"에관한법률에따라이용자의개인정보보호및권익을보호하고개인정보와관련한이용자의고충을원활하게처리할수있도록다음과같은취급방침을두고있습니다. 회사는개인정보취급방침을통하여고객님께서제공하시는개인정보가어떠한용도와방식으로이용되고있으며, 개인정보보호를위해어떠한조치가취해지고있는지알려드립니다. 회사는개인정보취급방침을개정하는경우웹사이트공지사항(또는개별공지)을통하여공지할것입니다.</p>
	<p>본방침은 : 2015년 10 월19일부터시행됩니다.</p>
	<h2>개인정보수집항목</h2>
	<p>회사는1:1 문의센터운영을위해아래와같은개인정보를수집하고있습니다.</p>
	<h3>필수항목</h3>
	<p>- 성명, 이메일,전화번호, 휴대전화번호</p>
	<div>
		<p>서비스이용과정이나사업처리과정에서아래와같은정보들이생성되어수집될수있습니다.</p>
	</div>
	<p>- 접속로그, 쿠키, 접속IP정보</p>
	<h2>개인정보의수집및이용목적</h2>
	<p>회사는수집한개인정보를다음의목적을위해활용합니다.</p>
	<h3>민원사무처리</h3>
	<p>- 민원인의신원확인, 불만처리등민원사항확인및처리, 사실조사를위한연락?통지, 처리결과통보등을목적으로개인정보를처리합니다.</p>
	<h2>개인정보의보유및이용기간</h2>
	<p>원칙적으로, 개인정보수집및이용목적이달성된후에는해당정보를지체없이파기합니다. 단, 관계법령의규정에의하여보존할필요가있는경우회사는아래와같이관계법령에서정한일정한기간동안회원정보를보관합니다.</p>
	<p>
		- 보존항목 : 문의접수시기재한개인정보및상담내용<br>
		- 보존근거 : 소비자의불만또는분쟁처리에관한기록<br>
		- 보존기간 : 3년<br>
		- 소비자의불만또는분쟁처리에관한기록 : 3년 (전자상거래등에서의소비자보호에관한법률)
	</p>
	<h2>개인정보의제 3자제공에관한사항</h2>
	<p>
		회사는정보주체의동의, 법률의특별한규정에해당하는경우에만개인정보를제3자에게제공합니다.<br>
		회사는본사이트를통해수집되는개인정보는제3자에게제공되지않고있습니다.
	</p>
	<h2>개인정보처리위탁</h2>
	<p>회사는개인정보업무처리를위하여타사에개인정보처리업무를위탁하지않고있습니다.</p>
	<h2>개인정보의파기절차및방법</h2>
	<p>회사는원칙적으로개인정보수집및이용목적이달성된후에는해당정보를지체없이파기합니다. 파기절차및방법은다음과같습니다.</p>
	<h3>파기절차</h3>
	<p>- 이용자가입력한정보는목적달성후별도의 DB에옮겨져(종이의경우별도의서류) 내부방침및기타관련법령에따라일정기간저장된후혹은즉시파기됩니다. 이때, DB로옮겨진개인정보는법률에의한경우가아니고서는다른목적으로이용되지않습니다.</p>
	<h3>파기기한</h3>
	<p>- 이용자의개인정보는개인정보의보유기간이경과된경우에는보유기간의종료일로부터 5일이내에, 개인정보의처리목적달성, 해당서비스의폐지, 사업의종료등그개인정보가불필요하게되었을때에는개인정보의처리가불필요한것으로인정되는날로부터 5일이내에그개인정보를파기합니다.</p>
	<h3>파기방법</h3>
	<p>- 전자적파일형태의정보는기록을재생할수없는기술적방법을사용합니다. 종이에출력된개인정보는분쇄기로분쇄하거나소각을통하여파기합니다.</p>
	<h2>이용자및법정대리인의권리와그행사방법</h2>
	<p>정보주체는회사에대해언제든지다음각호의개인정보보호관련권리를행사할수있습니다.</p>
	<div>
		<p>1. 개인정보열람요구</p>
		<p>2. 오류등이있을경우정정요구</p>
		<p>3. 삭제요구</p>
		<p>4. 처리정지요구</p>
	</div>
	<p>- 정보주체의개인정보조회,수정및삭제를위해서는개인정보관리책임자에게서면, 전화또는이메일로연락하시면지체없이조치하겠습니다.</p>
	<p>회사는정보주체의요청에의해해지또는삭제된개인정보는 “회사가수집하는개인정보의보유및이용기간”에명시된바에따라처리하고그외의용도로열람또는이용할수없도록처리하고있습니다.</p>
	<h2>개인정보자동수집장치의설치, 운영및그거부에관한사항</h2>
	<p>회사는귀하의정보를수시로저장하고찾아내는 ‘쿠키(cookie)’ 등을운용합니다. 쿠키란웹사이트를운영하는데이용되는서버가귀하의브라우저에보내는아주작은텍스트파일로서귀하의컴퓨터하드디스크에저장됩니다. 회사은(는) 다음과같은목적을위해쿠키를사용합니다.</p>
	<h3>쿠키 등 사용목적</h3>
	<p>- 이용자의접속빈도나방문시간등을분석, 이용자의취향과관심분야를파악및자취추적, 각종이벤트참여정도및방문회수파악등을통한타겟마케팅및개인맞춤서비스제공</p>
	<p>귀하는쿠키설치에대한선택권을가지고있습니다. 따라서, 귀하는웹브라우저에서옵션을설정함으로써모든쿠키를허용하거나, 쿠키가저장될때마다확인을거치거나, 아니면모든쿠키의저장을거부할수도있습니다.</p>
	<h3>쿠키 설정 거부방법</h3>
	<p>- 예: 쿠키설정을거부하는방법으로는회원님이사용하시는웹브라우저의옵션을선택함으로써모든쿠키를허용하거나쿠키를저장할때마다확인을거치거나, 모든쿠키의저장을거부할수있습니다.</p>
	<p>- 설정방법예(인터넷익스플로어의경우) : 웹브라우저상단의도구>인터넷옵션>개인정보</p>
	<p>단, 귀하께서쿠키설치를거부하였을경우서비스제공에어려움이있을수있습니다</p>
	<h2>개인정보관리책임자작성</h2>
	<p>회사는개인정보처리에관한업무를총괄해서책임지고, 개인정보처리와관련한정보주체의불만처리및피해구제등을위하여아래와같이개인정보보호책임자를지정하고있습니다.</p>
	<h3>개인정보관리책임자</h3>
	<p>
		- 성명 : 박성수<br>
		- 직책 : 개인정보관리책임자<br>
		- 직급 : 부장<br>
		- 연락처 : 02-399-3068, cpo@ondutyfree.com, (팩스)02-399-3091
	</p>
	<h3>개인정보보호담당부서</h3>
	<p>
		- 부서명 : 전산지원부<br>
		- 담당자 : 정상훈<br>
		- 연락처 : 02-399-3067, privacy@ondutyfree.com, (팩스)02-399-3091
	</p>
	<p>정보주체께서는회사의서비스(또는사업)을이용하시면서발생한모든개인정보보호관련문의, 불만처리, 피해구제등에관한사항을개인정보보호책임자및담당부서로문의하실수있습니다.회사는정보주체의문의에대해지체없이답변및처리해드릴것입니다.</p>
	<h2>개인정보열람청구</h2>
	<h3>개인정보열람청구접수·처리부서</h3>
	<p>
		- 부서명 : 고객지원<br>
		- 담당자 : 박지영<br>
		- 연락처 : 02-399-3046, dongwhadfs@ondutyfree.com, 02-399-3091
	</p>
	<p>기타개인정보침해에대한신고나상담이필요하신경우에는아래기관에문의하시기바랍니다.</p>
	<p>1. 개인정보침해신고센터 (<a target="_blank" href="http://www.privacy.kisa.or.kr">www.privacy.kisa.or.kr</a>/118)</p>
	<p>2. 개인분쟁조정위원회(<a target="_blank" href="http://www.privacy.kisa.or.kr">www.privacy.kisa.or.kr</a>/118)</p>
	<p>3. 대검찰청사이버범죄수사단 (<a target="_blank" href="http://www.spo.go.kr">www.spo.go.kr</a>/02-3480-3573)</p>
	<p>4. 경찰청사이버범죄수사단(<a target="_blank" href="http://www.netan.go.kr">www.netan.go.kr</a>/1566-0112)</p>
	<h2>개인정보취급방침변경</h2>
	<p>이개인정보취급방침은시행일로부터적용되며, 법령및방침에따른변경내용의추가, 삭제및정정이있는경우에는변경사항의시행 7일전부터공지사항을통하여고지할것입니다.</p>
</div>