@charset "UTF-8";

@font-face { font-family: "Arya"; src: url("../fonts/arya-v1-latin-regular.eot"); src:url("../fonts/arya-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/arya-v1-latin-regular.woff") format("woff"), url("../fonts/arya-v1-latin-regular.ttf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: "Nanum Barun Gothic"; src: url("../fonts/NanumBarunGothicWebLight.eot"); src:url("../fonts/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumBarunGothicWebLight.woff") format("woff"), url("../fonts/NanumBarunGothicWebLight.ttf") format("truetype"); font-weight: 300; font-style: normal; }
@font-face { font-family: "Nanum Barun Gothic"; src: url("../fonts/NanumBarunGothicWeb.eot"); src:url("../fonts/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumBarunGothicWeb.woff") format("woff"), url("../fonts/NanumBarunGothicWeb.ttf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: "Nanum Barun Gothic"; src: url("../fonts/NanumBarunGothicWebBold.eot"); src:url("../fonts/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumBarunGothicWebBold.woff") format("woff"), url("../fonts/NanumBarunGothicWebBold.ttf") format("truetype"); font-weight: 700; font-style: normal; }