@charset "UTF-8";

.main-visual { position:relative; height:1764px; background-position:50% 0; background-repeat:no-repeat;}
.main-visual:after { z-index:-1; position:absolute; top:0; left:0; right:0; bottom:0; background:url(../images/main/main-visual-bg.png) repeat 50% 0; content:''; }

.main-piece { overflow:hidden; position:absolute; width:311px; height:311px; top:270px; left:50%; margin-left:-622px; text-align:center; color:#222; line-height:1.3;}
.main-piece[data-theme="black"] { color:#222; }
.main-piece[data-theme="white"] { color:#fff; }
.main-piece[data-position="1"] { top:270px; margin-left:-622px; }
.main-piece[data-position="2"] { top:270px; margin-left:-311px; }
.main-piece[data-position="3"] { top:270px; margin-left:0; }
.main-piece[data-position="4"] { top:270px; margin-left:311px; }
.main-piece[data-position="5"] { top:581px; margin-left:-622px; }
.main-piece[data-position="6"] { top:581px; margin-left:-311px; }
.main-piece[data-position="7"] { top:581px; margin-left:0; }
.main-piece[data-position="8"] { top:581px; margin-left:311px; }
.main-piece[data-position="9"] { top:892px; margin-left:-622px; }
.main-piece[data-position="10"] { top:892px; margin-left:-311px; }
.main-piece[data-position="11"] { top:892px; margin-left:0; }
.main-piece[data-position="12"] { top:892px; margin-left:311px; }
.main-piece[data-position="13"] { top:1203px; margin-left:-622px; }
.main-piece[data-position="14"] { top:1203px; margin-left:-311px; }
.main-piece[data-position="15"] { top:1203px; margin-left:0; }
.main-piece[data-position="16"] { top:1203px; margin-left:311px; }
.main-piece[data-col='1'] { width:311px; }
.main-piece[data-col='2'] { width:622px; }
.main-piece[data-col='3'] { width:933px; }
.main-piece[data-col='3'] { width:1244px; }
.main-piece[data-row='1'] { height:311px; }
.main-piece[data-row='2'] { height:622px; }
.main-piece[data-row='3'] { height:933px; }
.main-piece[data-row='3'] { height:1244px; }
.main-piece__link { overflow:hidden; display:block; box-sizing:border-box; width:inherit; height:inherit; text-decoration:none; color:inherit; border-width:0; border-color:inherit; background-image:inherit; background-position:50%;}
.main-piece__link:after { position:absolute; top:0; left:0; right:0; bottom:0; z-index:1; content:''; border-width:0; border-style:solid; border-color:#fff; }
.main-piece__link:before { position:absolute; top:0; left:0; right:0; bottom:0; z-index:0; margin:auto; background-image:inherit; content:''; -ms-transition:transform .3s; transition:transform .3s; }
.main-piece__link:hover { color:#fff; }
.main-piece__link:hover:after { border-width:10px; background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBgaAAIMAAAhQCB69VMmQAAAABJRU5ErkJggg==);}
.main-piece__link:hover:before { -ms-transform:scale(1.05); transform:scale(1.05); }
.main-piece__headline1 { z-index:10; position:absolute;padding-left:.04em; font-size:24px; left:0; right:0; bottom:179px; letter-spacing:-.04em; -ms-transition:color .3s; transition:color .3s; }
.main-piece__headline2 { z-index:10; position:absolute;padding-left:.04em; font-size:24px; left:0; right:0; bottom:149px; letter-spacing:-.04em; -ms-transition:color .3s; transition:color .3s; }
.main-piece__summary { z-index:10; position:absolute; left:0;right:0;bottom:125px; color:#666666;font-family:'arya',sans-serif; font-size:12px; letter-spacing:.32em; padding-left:.32em; text-transform:uppercase; -ms-transition:color .3s; transition:color .3s;}
.main-piece__more { z-index:10; position:absolute; box-sizing:border-box; left:0;right:0;bottom:51px; display:block;width:139px;height:35px;margin:auto;line-height:33px;border-width:1px; border-style:solid;font-family:'arya',sans-serif;font-size:12px; letter-spacing:.42em; padding-left:.42em; text-transform:uppercase;}
.main-piece__more:before { position:absolute;top:0;left:0;width:100%;height:100%; background-color:rgba(255,255,255,.1); content:''; -ms-transform:scaleX(0); transform:scaleX(0); -ms-transform-origin:0 0; transform-origin:0 0; -ms-transition:transform .3s; transition:transform .3s; }
.main-piece__tag-event { z-index:10; position:absolute; left:0; right:0; display:none; box-sizing:border-box; width:103px; height:34px; margin:auto; background-color:#ed638f; line-height:34px; color:#fff;font-family:'arya',sans-serif;font-size:14px; letter-spacing:.42em; padding-left:.42em; text-transform:uppercase; text-align:center; }
.main-piece__date { z-index:10; position:absolute; left:0; right:0; display:none; font-size:12px; -ms-transition:color .3s; transition:color .3s;}
[data-event='true'] .main-piece__headline1 { bottom:92px; font-size:28px; text-shadow:0 0 0; }
[data-event='true'] .main-piece__headline2 { bottom:58px; font-size:28px; text-shadow:0 0 0; }
[data-event='true'] .main-piece__tag-event { bottom:153px; display:block; }
[data-event='true'] .main-piece__date { bottom:31px; display:block; }
[data-event='true'] .main-piece__summary { display:none; }
[data-event='true'] .main-piece__more { display:none; }
[data-col='2'] .main-piece__headline1 { font-size:46px; }
[data-col='2'] .main-piece__headline2 { display:none;}
[data-col='2'] .main-piece__date { font-size:16px; }
[data-col='2'][data-event='true'] .main-piece__headline1 { bottom:74px; }
[data-col='2'][data-event='true'] .main-piece__date { bottom:48px; }
.main-piece__link:hover .main-piece__summary { color:inherit; }
.main-piece__link:hover .main-piece__more:before { -ms-transform:scaleX(1); transform:scaleX(1); }

.main-footer {overflow:hidden; width:1016px; margin:80px auto 90px; }
.main-footer__col1 {float:left;width:530px;}
.main-footer__col2 {float:right;width:450px;}

/*공지사항*/
.main-notice {}
.main-notice__tit {margin:0;font-size:24px;color:#222;line-height:1.3;font-weight:normal;}
.main-notice__list {margin:38px 0 0 0;padding:0;list-style:none;line-height:1.3;}
.main-notice__item { overflow:hidden;position:relative;padding-left:44px; margin-top:8px;font-size:14px;color:#999; }
.main-notice__date-year {position:absolute;left:0;font-size:14px;}
.main-notice__date-day {position:absolute;font-size:14px;}
.main-notice__subject {display:inline-block;margin-left:113px; }
.main-notice__article { overflow:hidden; height:4.8em; margin:9px 0 24px 0; padding:0 0 0 113px; color:#888;line-height:1.6;}
.main-notice__article:after { position:absolute; z-index:1; bottom:8px; left:0; right:0; height:1px; display:block; background:url(../images/main/main-notice-article-bg.png) repeat-x 0 100%; content:''; pointer-events:none; }
.main-notice__link { color:inherit; text-decoration:none; }
.main-notice__link:focus,
.main-notice__link:hover { text-shadow:0 0 0;}
.main-notice__new { position:absolute; left:103px; width:40px; height:17px; margin:auto; border:1px solid #d1c3f5; border-radius:17px; background-color:#fff; text-align:center; line-height:17px; color:#845de5; font-size:12px; }
.main-notice__item:first-child,
.main-notice__item:first-child+.main-notice__item { color:#222;}
.main-notice__item:first-child .main-notice__subject { font-size:16px; }
.main-notice__item:first-child .main-notice__date-year { margin-top:1px; margin-bottom:1px; }
.main-notice__item:first-child .main-notice__date-day { margin-top:1px; margin-bottom:1px; }

/*고객센터*/
.main-customer { position:relative;}
.main-customer__tit {margin:0 0 30px 0;padding-bottom:10px;border-bottom:1px solid #ccc;font-size:24px;color:#222;line-height:1.3;font-weight:normal;}
.main-customer__grid1 {}
.main-contact {}
.main-contact__tit { overflow:hidden;position:absolute;width:0;height:0;margin:0;}
.main-contact__tel { margin:0; color:#222; font-size:28px; line-height:1; }
.main-contact__time { margin:10px 0 0 0; font-size:14px; line-height:1.6;}
.main-contact__term { color:#888; float:left; clear:left; }
.main-contact__term:after { display:inline-block; margin:0 .3em; content:'·'; }
.main-contact__describe { margin:0; color:#222; }
.main-customer__grid2 {position:absolute;right:0;top:70px;}
.main-sns {overflow:hidden; display:inline-block;}
.main-sns__tit {overflow:hidden;position:absolute;width:0;height:0;margin:0;}
.main-sns__item {float:left;width:31px;height:31px;margin:0 14px 0 15px;text-align:left;white-space:nowrap;text-indent:100%;background:url(../images/main/main-sns-ico.png) no-repeat;}
.main-sns__item:before {float:left;height:100%;margin-left:-14px;border-left:1px solid #f0f0f0; content:''; pointer-events:none;}
.main-sns__item--first { margin-left:0; }
.main-sns__item--first:before { display:none; }
.main-sns__item--twitter {}
.main-sns__item--facebook { background-position:-31px; }
.main-sns__item--instagram { background-position:-62px; }
.main-customer__grid3 { margin-top:26px; }
.main-guide { }
.main-guide__tit {overflow:hidden;position:absolute;width:0;height:0;margin:0;}
.main-guide__list {overflow:hidden;margin:0 0 0 -3px;padding:0;list-style:none;}
.main-guide__item {float:left;box-sizing:border-box;padding-left:3px;width:25%;}
.main-guide__link {display:table-cell;position:relative;box-sizing:border-box;width:1%;height:112px;text-align:center;text-decoration:none;color:#555;vertical-align:middle;font-size:13px;line-height:1.3;}
.main-guide__link:after { box-sizing:border-box;position:absolute;left:0;top:0;width:100%;height:inherit;border:1px solid #e5e5e5;-ms-transition:border .1s;transition:border .1s;content:'';pointer-events:none;}
.main-guide__ico { position:relative;display:block;width:40px; padding-top:40px; margin:0 auto 7px;background:#b8b8b8 url(../images/main/main-guide-ico.png) no-repeat; -ms-transition:background-color .3s;transition:background-color .3s;}
:lang(ko) .main-guide__ico:after { display:block; margin-bottom:-5px;padding-top:8px; content:attr(data-before); font-style:normal; color:#aeaeae; background-color:#fff;}
.main-guide__ico[data-ico*="이용"] { }
.main-guide__ico[data-ico*="구매"] { background-position:-40px 0; }
.main-guide__ico[data-ico*="상품"] { background-position:-80px 0; }
.main-guide__link:focus:after,
.main-guide__link:hover:after { border-width:7px; border-color:#845de5; }
.main-guide__link:focus .main-guide__ico,
.main-guide__link:hover .main-guide__ico { background-color:#8c68e7; }
.main-guide__link--faq {  color:#444; font-family:'arya', sans-serif; font-size:24px; letter-spacing:.2em; padding-left:.2em;}
.main-guide__link--faq:after { border-width:7px; border-color:#ccc; }
.main-customer__btn-more { position:absolute; top:4px; right:0; width:60px; height:22px; border:1px solid #e7e7e7; border-radius:22px; background-color:#fff; text-align:center; text-decoration:none; color:#333; line-height:22px; -ms-transition:border-color .3s, color .3s;transition:border-color .3s, color .3s; }
.main-customer__btn-more:before { display:inline-block; width:3px; height:3px; margin-right: 4px;border-radius:50%; background-color:#999; content:'';vertical-align:middle; -ms-transition:background-color .3s;transition:background-color .3s;}
.main-customer__btn-more:focus,
.main-customer__btn-more:hover { color:#845de5; border-color:#845de5; }
.main-customer__btn-more:focus:before,
.main-customer__btn-more:hover:before { background-color:#845de5; }
